h3{
    text-align: center;
}
.container{
    display:flex;
    background-color:darkolivegreen;
    padding:10px;
    flex-wrap: wrap;
   
    

}
.item{
    border-style: groove;
    border-color: rgb(128, 135, 121);
    background-color: beige;
    width: 350px;
    height: 500px;
    margin:auto;
    text-align: center;

}
.item img{
    height: 65%;
    width: 65%;
}
P{
    text-align: center;
}


.item:hover{
    background-color:dimgrey;
}
button:hover{
    background-color: coral;
}